# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Build
dist/
