<!--
  SPDX-License-Identifier: MIT
  Copyright 2025 C Standards Committee
  Copyright 2024-2025 Jorenar
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>{{site.title}}{% if page.title %}: {{ page.title }}{% endif %}</title>
  <meta name="description" content="The homepage of the C programming language">
  <meta name="keywords" content="c,programming,language,lingua,franca">

  <meta name="author" content="Jorenar">
  <link rel="author" href="https://jorenar.com">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">

  <!-- might be helpful for some versions of IE -->
  <script>document.createElement('x-cmt');</script>

  <link rel="shortcut icon" href="logo.svg">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <header>
      <a href="/" title="The C programming language">
        <img height=90 width=90 src="logo.svg" alt="C">
      </a>
      <span>The lingua franca of programming</span>
    </header>

    <input id="menu" type="checkbox">
    <label for="menu">&equiv;</label>
    <div>
      {% for item in site.data.navlist %}
        <a href="{{ item.url }}" {% if item.url == page.url %}class="current"{% endif %}>{{ item.title }}</a>
      {% endfor %}
    </div>

    <footer>
      <div class="copyleft">
        <a href="https://www.open-std.org/jtc1/sc22/wg14/">C Standards Committee</a>
      </div>
      <div style="font-size:0.8em">
        Site design by <a href="https://jorenar.com/">Jorenar</a>
      </div>
    </footer>
  </nav>
  <main{%if page.accordion_list %} class="accordion-list"{% endif %}>
    {%if page.title %}<h2>{{ page.title }}</h2>{% endif %}
    {{ content }}
  </main>
  <script>
    window.onhashchange = function() {
      const t = document.querySelector(':target');
      if (!t) { return; }

      document.querySelectorAll('details:has(:target), details:target')
        .forEach(d => { d.open = true });
      window.scrollTo(0, t.offsetTop);

      const f = t.tagName === "DETAILS" ? t.querySelector('summary') : t;
      f.tabIndex = "-1";
      f.focus();
    };
    window.onload = window.onhashchange;
  </script>
</body>
</html>
